
/* Css file applying bootstrap style */

.container {
    margin-top: 100px;
    margin-left: 60px;
    position: relative;
    justify-content: center;
    align-items: center;
}

div.row {
    padding: 15px;
    align-items: center;
    justify-content: center;
    margin-left: 50px;

}

.header {
    background-color: lightcoral;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-right: 652px;
    align-items: center;
    margin-left: 50px;
  
}

.btn-light {
    margin-left: 70px;

}



